In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("name.csv")

In [4]:
df

   ID            Name  Age    Country Occupation
0   1        John Doe   28        USA   Engineer
1   2      Jane Smith   34     Canada     Doctor
2   3       Sam Brown   22         UK    Student
3   4     Emily Davis   45  Australia    Teacher
4   5  Michael Wilson   30        USA   Designer
5   6  Sophia Johnson   27    Germany  Architect
6   7     Liam Martin   31     France       Chef

In [6]:
pd.read_csv("name.csv" , header=None)

    0               1    2          3           4
0  ID            Name  Age    Country  Occupation
1   1        John Doe   28        USA    Engineer
2   2      Jane Smith   34     Canada      Doctor
3   3       Sam Brown   22         UK     Student
4   4     Emily Davis   45  Australia     Teacher
5   5  Michael Wilson   30        USA    Designer
6   6  Sophia Johnson   27    Germany   Architect
7   7     Liam Martin   31     France        Chef

In [8]:
pd.read_csv("name.csv" , skiprows=2 , header=None)

   0               1   2          3          4
0  2      Jane Smith  34     Canada     Doctor
1  3       Sam Brown  22         UK    Student
2  4     Emily Davis  45  Australia    Teacher
3  5  Michael Wilson  30        USA   Designer
4  6  Sophia Johnson  27    Germany  Architect
5  7     Liam Martin  31     France       Chef

In [9]:
pd.read_csv("name.csv" , usecols=['Name' , 'Country'])

             Name    Country
0        John Doe        USA
1      Jane Smith     Canada
2       Sam Brown         UK
3     Emily Davis  Australia
4  Michael Wilson        USA
5  Sophia Johnson    Germany
6     Liam Martin     France

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.Occupation

0     Engineer
1       Doctor
2      Student
3      Teacher
4     Designer
5    Architect
6         Chef
Name: Occupation, dtype: object

In [12]:
df['Occupation']

0     Engineer
1       Doctor
2      Student
3      Teacher
4     Designer
5    Architect
6         Chef
Name: Occupation, dtype: object

In [13]:
l = [1 , 2 , 3 ,4]
s = pd.Series(l)

In [14]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [15]:
s[0]

np.int64(1)

In [18]:
d = pd.Series([100 , 200 , 300], index=["a" , 'b' ,'c'])

In [19]:
d

a    100
b    200
c    300
dtype: int64

In [20]:
type(d)

pandas.core.series.Series

In [21]:
d.index

Index(['a', 'b', 'c'], dtype='object')

In [22]:
d

a    100
b    200
c    300
dtype: int64

In [23]:
pd.DataFrame(d)

     0
a  100
b  200
c  300

In [24]:
df.head(5)

   ID            Name  Age    Country Occupation
0   1        John Doe   28        USA   Engineer
1   2      Jane Smith   34     Canada     Doctor
2   3       Sam Brown   22         UK    Student
3   4     Emily Davis   45  Australia    Teacher
4   5  Michael Wilson   30        USA   Designer

In [25]:
df.tail(5)

   ID            Name  Age    Country Occupation
2   3       Sam Brown   22         UK    Student
3   4     Emily Davis   45  Australia    Teacher
4   5  Michael Wilson   30        USA   Designer
5   6  Sophia Johnson   27    Germany  Architect
6   7     Liam Martin   31     France       Chef

In [26]:
df.head()

   ID            Name  Age    Country Occupation
0   1        John Doe   28        USA   Engineer
1   2      Jane Smith   34     Canada     Doctor
2   3       Sam Brown   22         UK    Student
3   4     Emily Davis   45  Australia    Teacher
4   5  Michael Wilson   30        USA   Designer

In [27]:
df.head(2)

   ID        Name  Age Country Occupation
0   1    John Doe   28     USA   Engineer
1   2  Jane Smith   34  Canada     Doctor

In [28]:
df.shape

(7, 5)

In [29]:
df.columns

Index(['ID', 'Name', 'Age', 'Country', 'Occupation'], dtype='object')

In [30]:
df1 = pd.read_csv("name.csv" , header=None)
df1.columns

Index([0, 1, 2, 3, 4], dtype='int64')

In [31]:
list(df.columns)

['ID', 'Name', 'Age', 'Country', 'Occupation']

In [38]:
df.sample(2)

   ID         Name  Age Country Occupation
6   7  Liam Martin   31  France       Chef
1   2   Jane Smith   34  Canada     Doctor

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          7 non-null      int64
 1   Name        7 non-null      object
 2   Age         7 non-null      int64
 3   Country     7 non-null      object
 4   Occupation  7 non-null      object
dtypes: int64(2), object(3)
memory usage: 412.0+ bytes

In [40]:
df.dtypes

ID             int64
Name          object
Age            int64
Country       object
Occupation    object
dtype: object

In [43]:
a = pd.Series([100 , 200 , 300] , index=['a' , 1 , 2.3])

In [45]:
print(a[2.3])

300

In [47]:
df[['Name' , 'ID']]

             Name  ID
0        John Doe   1
1      Jane Smith   2
2       Sam Brown   3
3     Emily Davis   4
4  Michael Wilson   5
5  Sophia Johnson   6
6     Liam Martin   7

In [48]:
pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [49]:
url = "https://api.github.com/repos/pandas-dev/pandas/issues"
pd.read_json(url)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59258,2411943651,PR_kwDOAA0YD851jlq4,59258,BUG: pandas-dev#58594,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [X] closes #58594 \r\n- [X] [Tests added and...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59257,2411823571,PR_kwDOAA0YD851jMTn,59257,DEPS: Bump misc testing dependencies,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,"Namely hypothesis, pytest-localserver, pytest-...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59256,2411461032,I_kwDOAA0YD86Pu_mo,59256,BUG: Wrong timestamp resolution when parsing t...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59252,2410900127,I_kwDOAA0YD86Ps2qf,59252,"BUG: rolling window with `center=True, min_per...",...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59249,2409291810,I_kwDOAA0YD86PmuAi,59249,BUG: Pandas squashes 1-dimensional Numpy array...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59242,2407067674,I_kwDOAA0YD86PePAa,59242,BUG: read_sql tries to convert blob/varbinary ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59241,2406413623,PR_kwDOAA0YD851RA66,59241,"ENH: pd.cut() supports str for ""bin"" argument",...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #59165\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59240,2406102429,PR_kwDOAA0YD851P8aD,59240,WIP clean: simplify lite-rule-alias and dont-u...,...,NaT,MEMBER,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,"work in progress, trying to clean this confusi...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59239,2406017153,PR_kwDOAA0YD851Pq3B,59239,ENH: DataFrame.plot.scatter argument `c` now a...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] Closes #16827 \r\n- [x] Closes #16485\r\...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59238,2405350800,PR_kwDOAA0YD851NYF2,59238,Add column_offset to explode,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #59163 (Replace xxxx with the Gi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59237,2405150120,I_kwDOAA0YD86PW62o,59237,ENH: Reduce type requirements for the subset p...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59235,2404776036,I_kwDOAA0YD86PVfhk,59235,ENH: Consistent API between `pd.get_dummies()`...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Feature Type\r\n\r\n- [ ] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59233,2404008935,I_kwDOAA0YD86PSkPn,59233,BUG: json_normalize KeyError Key not found,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59231,2403519741,I_kwDOAA0YD86PQsz9,59231,"DOC: sentence fragment in ""String methods""",...,NaT,CONTRIBUTOR,NaN,NaN,NaN,https://github.com/pandas-dev/pandas/blob/d966...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59228,2403111123,PR_kwDOAA0YD851F6M4,59228,CLN: enforce the deprecation ofaccepting Manag...,...,NaT,CONTRIBUTOR,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,enforced the deprecation of accepting Manager ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59227,2402933357,I_kwDOAA0YD86POdpt,59227,BUG: AttributeError about dateutil.relativedel...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59225,2402452638,PR_kwDOAA0YD851Dqmz,59225,BUG: fix json_normalize with meta far differen...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- fix of json_normalize when record_path long ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59224,2402069055,I_kwDOAA0YD86PLKo_,59224,BUG: SQL connection,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59222,2400767320,I_kwDOAA0YD86PGM1Y,59222,BUG: unexpected behavior when Loading lines li...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59221,2400641587,I_kwDOAA0YD86PFuIz,59221,ENH: Replacing behavior currently provided by ...,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\r\n\r\n- [ ] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59219,2399423860,PR_kwDOAA0YD8505azB,59219,BUG: Fix read_csv index dtype override,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #59077\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59217,2398844856,PR_kwDOAA0YD8503i82,59217,fix-issue-59196: add extra check for np arrays,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #59196 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59216,2397367000,PR_kwDOAA0YD850ycA0,59216,DOC: add SA01 for pandas.api.types.is_int64_dtype,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,part of https://github.com/pandas-dev/pandas/i...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59215,2397346679,PR_kwDOAA0YD850yXmN,59215,DOC: add SA01 for pandas.api.types.is_extensio...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,"part of #58577\r\n\r\n``` -i ""pandas.api.types...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59212,2396391937,I_kwDOAA0YD86O1goB,59212,BUG: regression in master for DataFrame.sparse...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59207,2394929953,I_kwDOAA0YD86Ov7sh,59207,"ENH: Extend to_numeric to Convert Hexadecimal,...",...,NaT,NONE,NaN,NaN,NaN,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59205,2394458920,PR_kwDOAA0YD850od5m,59205,ENH: dt.day_of_week should return int8,...,NaT,CONTRIBUTOR,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [X] closes #58185\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59196,2393772977,I_kwDOAA0YD86OrhOx,59196,BUG: ValueError when accessing dataFrame with ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59193,2393027517,I_kwDOAA0YD86OorO9,59193,ENH: Pipe `attrs` to_html Jinja2 environmental...,...,NaT,NONE,NaN,NaN,NaN,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59190,2392774845,PR_kwDOAA0YD850jB57,59190,DataFrameGroupBy.agg with nan results error Fixed,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [#59106 ] closes #59106 (Replace xxxx with ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN