In [2]:
import pandas as pd

In [ ]:
"""Pandas is used to analyse data"""

In [5]:
df = pd.read_csv("name.csv")

In [13]:
df

   ID            Name  Age    Country Occupation
0   1        John Doe   28        USA   Engineer
1   2      Jane Smith   34     Canada     Doctor
2   3       Sam Brown   22         UK    Student
3   4     Emily Davis   45  Australia    Teacher
4   5  Michael Wilson   30        USA   Designer
5   6  Sophia Johnson   27    Germany  Architect
6   7     Liam Martin   31     France       Chef

In [11]:
"""
By de fault panda consider first row as first coloum
to neglect that head = None is used
"""

pd.read_csv("name.csv" , header=None)

    0               1    2          3           4
0  ID            Name  Age    Country  Occupation
1   1        John Doe   28        USA    Engineer
2   2      Jane Smith   34     Canada      Doctor
3   3       Sam Brown   22         UK     Student
4   4     Emily Davis   45  Australia     Teacher
5   5  Michael Wilson   30        USA    Designer
6   6  Sophia Johnson   27    Germany   Architect
7   7     Liam Martin   31     France        Chef

In [10]:
"""Helps to skip 2 rows from top"""

pd.read_csv("name.csv" , skiprows=2)

   2      Jane Smith  34     Canada     Doctor
0  3       Sam Brown  22         UK    Student
1  4     Emily Davis  45  Australia    Teacher
2  5  Michael Wilson  30        USA   Designer
3  6  Sophia Johnson  27    Germany  Architect
4  7     Liam Martin  31     France       Chef

In [16]:
pd.read_csv("name.csv" , usecols=['Name', 'Age'])

             Name  Age
0        John Doe   28
1      Jane Smith   34
2       Sam Brown   22
3     Emily Davis   45
4  Michael Wilson   30
5  Sophia Johnson   27
6     Liam Martin   31

In [17]:
df

   ID            Name  Age    Country Occupation
0   1        John Doe   28        USA   Engineer
1   2      Jane Smith   34     Canada     Doctor
2   3       Sam Brown   22         UK    Student
3   4     Emily Davis   45  Australia    Teacher
4   5  Michael Wilson   30        USA   Designer
5   6  Sophia Johnson   27    Germany  Architect
6   7     Liam Martin   31     France       Chef

In [ ]:
#In pasdas we store data in form series and data form
#series is one dimentional in nature and data frame is 2
#dimentional in nature

In [18]:
type(df)

pandas.core.frame.DataFrame

In [20]:
#We can access any coloum by name of the coloum
df.Name

0          John Doe
1        Jane Smith
2         Sam Brown
3       Emily Davis
4    Michael Wilson
5    Sophia Johnson
6       Liam Martin
Name: Name, dtype: object

In [21]:
"""Another way to declare method"""

df["Name"]

0          John Doe
1        Jane Smith
2         Sam Brown
3       Emily Davis
4    Michael Wilson
5    Sophia Johnson
6       Liam Martin
Name: Name, dtype: object

In [22]:
type(df["Name"]) # A coloum is a series in data frame

pandas.core.series.Series

In [7]:
l = [1 , 2 , 3 , 4]
s = pd.Series(l)

In [8]:
type(s)

pandas.core.series.Series

In [9]:
s #Index will be there

0    1
1    2
2    3
3    4
dtype: int64

In [28]:
s[0:]

0    1
1    2
2    3
3    4
dtype: int64

In [30]:
print(s[1])

2

In [10]:
#By default index are interger
#We can have custom indexex

d = pd.Series([100 , 200 , 300] , index = [2.3 , 4.5 , 1])

In [32]:
d

2.3    100
4.5    200
1.0    300
dtype: int64

In [35]:
print(d[2.3])

100

In [36]:
type(d)

pandas.core.series.Series

In [11]:
#To see the all index of series
d.index

Index([2.3, 4.5, 1.0], dtype='float64')

In [14]:
#To reset index

d.reset_index(drop=True)

0    100
1    200
2    300
dtype: int64

In [15]:
d.reset_index(drop=False)

   index    0
0    2.3  100
1    4.5  200
2    1.0  300

In [16]:
d

2.3    100
4.5    200
1.0    300
dtype: int64

In [17]:
pd.DataFrame(d)

       0
2.3  100
4.5  200
1.0  300

In [18]:
df

   ID            Name  Age    Country Occupation
0   1        John Doe   28        USA   Engineer
1   2      Jane Smith   34     Canada     Doctor
2   3       Sam Brown   22         UK    Student
3   4     Emily Davis   45  Australia    Teacher
4   5  Michael Wilson   30        USA   Designer
5   6  Sophia Johnson   27    Germany  Architect
6   7     Liam Martin   31     France       Chef

In [19]:
#I want first 5 rows

df.head(5)

   ID            Name  Age    Country Occupation
0   1        John Doe   28        USA   Engineer
1   2      Jane Smith   34     Canada     Doctor
2   3       Sam Brown   22         UK    Student
3   4     Emily Davis   45  Australia    Teacher
4   5  Michael Wilson   30        USA   Designer

In [20]:
df.head(2)

   ID        Name  Age Country Occupation
0   1    John Doe   28     USA   Engineer
1   2  Jane Smith   34  Canada     Doctor

In [21]:
df.tail(2)

   ID            Name  Age  Country Occupation
5   6  Sophia Johnson   27  Germany  Architect
6   7     Liam Martin   31   France       Chef

In [22]:
df.shape #How many row and coloum are there

(7, 5)

In [23]:
df.columns

Index(['ID', 'Name', 'Age', 'Country', 'Occupation'], dtype='object')

In [24]:
list(df.columns)

['ID', 'Name', 'Age', 'Country', 'Occupation']

In [25]:
df.sample(2) #Gives 2 random rows

   ID            Name  Age  Country Occupation
5   6  Sophia Johnson   27  Germany  Architect
6   7     Liam Martin   31   France       Chef

In [6]:
df.info

<bound method DataFrame.info of    ID            Name  Age    Country Occupation
0   1        John Doe   28        USA   Engineer
1   2      Jane Smith   34     Canada     Doctor
2   3       Sam Brown   22         UK    Student
3   4     Emily Davis   45  Australia    Teacher
4   5  Michael Wilson   30        USA   Designer
5   6  Sophia Johnson   27    Germany  Architect
6   7     Liam Martin   31     France       Chef>

In [27]:
df.dtypes

ID             int64
Name          object
Age            int64
Country       object
Occupation    object
dtype: object

In [ ]:
d

2.3    100
4.5    200
1.0    300
dtype: int64

In [29]:
d["new coloum"] = "Rupam"

In [30]:
d

2.3             100
4.5             200
1.0             300
new coloum    Rupam
dtype: object

In [31]:
pd.DataFrame(d)

                0
2.3           100
4.5           200
1.0           300
new coloum  Rupam

In [32]:
d["new-coloum"] = "Rupam"

In [33]:
d

2.3             100
4.5             200
1.0             300
new coloum    Rupam
new-coloum    Rupam
dtype: object

In [34]:
df

   ID            Name  Age    Country Occupation
0   1        John Doe   28        USA   Engineer
1   2      Jane Smith   34     Canada     Doctor
2   3       Sam Brown   22         UK    Student
3   4     Emily Davis   45  Australia    Teacher
4   5  Michael Wilson   30        USA   Designer
5   6  Sophia Johnson   27    Germany  Architect
6   7     Liam Martin   31     France       Chef

In [35]:
df["new-col"] = "Rupam"

In [37]:
df

   ID            Name  Age    Country Occupation new-col
0   1        John Doe   28        USA   Engineer   Rupam
1   2      Jane Smith   34     Canada     Doctor   Rupam
2   3       Sam Brown   22         UK    Student   Rupam
3   4     Emily Davis   45  Australia    Teacher   Rupam
4   5  Michael Wilson   30        USA   Designer   Rupam
5   6  Sophia Johnson   27    Germany  Architect   Rupam
6   7     Liam Martin   31     France       Chef   Rupam

In [39]:
df[["Name" , "Age"]] #we can access two simultaneously you have to give 2 brakets

             Name  Age
0        John Doe   28
1      Jane Smith   34
2       Sam Brown   22
3     Emily Davis   45
4  Michael Wilson   30
5  Sophia Johnson   27
6     Liam Martin   31

In [4]:
df1 = pd.read_excel("data.xlsx")

In [5]:
df1

   ID            Name  Age    Country Occupation
0   1        John Doe   28        USA   Engineer
1   2      Jane Smith   34     Canada     Doctor
2   3       Sam Brown   22         UK    Student
3   4     Emily Davis   45  Australia    Teacher
4   5  Michael Wilson   30        USA   Designer
5   6  Sophia Johnson   27    Germany  Architect
6   7     Liam Martin   31     France       Chef

In [6]:
df1.shape

(7, 5)

In [7]:
df1.columns

Index(['ID', 'Name', 'Age', 'Country', 'Occupation'], dtype='object')

In [9]:
df1.info

<bound method DataFrame.info of    ID            Name  Age    Country Occupation
0   1        John Doe   28        USA   Engineer
1   2      Jane Smith   34     Canada     Doctor
2   3       Sam Brown   22         UK    Student
3   4     Emily Davis   45  Australia    Teacher
4   5  Michael Wilson   30        USA   Designer
5   6  Sophia Johnson   27    Germany  Architect
6   7     Liam Martin   31     France       Chef>

In [10]:
df3 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [11]:
df3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [12]:
df3.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [13]:
df3.info

<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [15]:
df3.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [17]:
df3.PassengerId

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

In [18]:
url_df = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [19]:
url_df

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [20]:
type(url_df)

list

In [21]:
#read a json file from url
url = "https://api.github.com/repos/pandas-dev/pandas/issues"
pd.read_json(url)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59235,2404776036,I_kwDOAA0YD86PVfhk,59235,ENH: Consistent API between `pd.get_dummies()`...,...,NaT,CONTRIBUTOR,NaN,### Feature Type\r\n\r\n- [ ] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59234,2404401505,PR_kwDOAA0YD851KTtd,59234,BUG/TST: non-numeric EA reductions,...,NaT,MEMBER,NaN,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59233,2404008935,I_kwDOAA0YD86PSkPn,59233,BUG: json_normalize KeyError Key not found,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59232,2403560323,I_kwDOAA0YD86PQ2uD,59232,"DOC: ""list"" is not a keyword - .query()",...,NaT,CONTRIBUTOR,NaN,> Column names which are Python keywords (like...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59231,2403519741,I_kwDOAA0YD86PQsz9,59231,"DOC: sentence fragment in ""String methods""",...,NaT,CONTRIBUTOR,NaN,https://github.com/pandas-dev/pandas/blob/d966...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59228,2403111123,PR_kwDOAA0YD851F6M4,59228,CLN: enforce the deprecation ofaccepting Manag...,...,NaT,CONTRIBUTOR,NaN,enforced the deprecation of accepting Manager ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59227,2402933357,I_kwDOAA0YD86POdpt,59227,BUG: AttributeError about dateutil.relativedel...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59226,2402516336,I_kwDOAA0YD86PM31w,59226,ENH: is it worth fixing a warning from a third...,...,NaT,NONE,NaN,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59225,2402452638,PR_kwDOAA0YD851Dqmz,59225,BUG: fix json_normalize with meta far differen...,...,NaT,NONE,NaN,- fix of json_normalize when record_path long ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59224,2402069055,I_kwDOAA0YD86PLKo_,59224,BUG: SQL connection,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59223,2401389538,PR_kwDOAA0YD851AI1R,59223,Edited note on index_col/parse_dates params fo...,...,NaT,NONE,NaN,(The sentence as it stands is missing a verb; ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59222,2400767320,I_kwDOAA0YD86PGM1Y,59222,BUG: unexpected behavior when Loading lines li...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59221,2400641587,I_kwDOAA0YD86PFuIz,59221,ENH: Replacing behavior currently provided by ...,...,NaT,NONE,NaN,### Feature Type\r\n\r\n- [ ] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59219,2399423860,PR_kwDOAA0YD8505azB,59219,BUG: Fix read_csv index dtype override,...,NaT,NONE,NaN,- [x] closes #59077\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59218,2399409527,I_kwDOAA0YD86PBBV3,59218,BUG: `pandas.tseries.frequencies.to_offset()` ...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59217,2398844856,PR_kwDOAA0YD8503i82,59217,fix-issue-59196: add extra check for np arrays,...,NaT,NONE,NaN,- [x] closes #59196 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59216,2397367000,PR_kwDOAA0YD850ycA0,59216,DOC: add SA01 for pandas.api.types.is_int64_dtype,...,NaT,NONE,NaN,part of https://github.com/pandas-dev/pandas/i...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59215,2397346679,PR_kwDOAA0YD850yXmN,59215,DOC: add SA01 for pandas.api.types.is_extensio...,...,NaT,NONE,NaN,"part of #58577\r\n\r\n``` -i ""pandas.api.types...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59212,2396391937,I_kwDOAA0YD86O1goB,59212,BUG: regression in master for DataFrame.sparse...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59211,2396085734,PR_kwDOAA0YD850uC-h,59211,BUG: .plot(kind='pie') with ArrowDtype,...,NaT,MEMBER,NaN,- [ ] closes #59192 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59210,2396011434,PR_kwDOAA0YD850tyzL,59210,CLN: More read_csv state,...,NaT,MEMBER,NaN,Also inlines some single use methods/functions,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59207,2394929953,I_kwDOAA0YD86Ov7sh,59207,"ENH: Extend to_numeric to Convert Hexadecimal,...",...,NaT,NONE,NaN,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59205,2394458920,PR_kwDOAA0YD850od5m,59205,ENH: dt.day_of_week should return int8,...,NaT,CONTRIBUTOR,NaN,- [X] closes #58185\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59197,2393991299,PR_kwDOAA0YD850nCWD,59197,Pyarrow series .any() Error fixed,...,NaT,NONE,NaN,- [ ] closes #59192 (Replace xxxx with the Gi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59196,2393772977,I_kwDOAA0YD86OrhOx,59196,BUG: ValueError when accessing dataFrame with ...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59193,2393027517,I_kwDOAA0YD86OorO9,59193,ENH: Pipe `attrs` to_html Jinja2 environmental...,...,NaT,NONE,NaN,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/59192,2392957430,I_kwDOAA0YD86OoaH2,59192,"BUG: Pyarrow series .any() returns a bool, mes...",...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59190,2392774845,PR_kwDOAA0YD850jB57,59190,DataFrameGroupBy.agg with nan results error Fixed,...,NaT,NONE,NaN,- [#59106 ] closes #59106 (Replace xxxx with ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59189,2392755723,PR_kwDOAA0YD850i9yQ,59189,DataFrame.eval error fixed,...,NaT,NONE,NaN,- [#59062 ] closes #59062 (Replace xxxx with ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/59188,2392722488,PR_kwDOAA0YD850i2j4,59188,Difference between calamine and openpyxl reade...,...,NaT,NONE,NaN,- [ #59186 ] closes #59186 (Replace xxxx with...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...